<?php

declare(strict_types=1);

/*
 * ReportingAuthorizationSummaryApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ReportingAuthorizationSummaryApiLib\Apis;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummary0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummaryCardnetwork0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummaryChain0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummaryDivision0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummaryMerchant0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummaryStore0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummarySuperchain0ErrorException;
use ReportingAuthorizationSummaryApiLib\Exceptions\AuthorizationsSummaryTransactiondate0ErrorException;
use ReportingAuthorizationSummaryApiLib\Http\ApiResponse;
use ReportingAuthorizationSummaryApiLib\Models\AuthorizationsSummaryCardnetworkResponse;
use ReportingAuthorizationSummaryApiLib\Models\AuthorizationsSummaryTransactiondateResponse;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsRequest;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsRequestByChain;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsRequestByDivision;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsRequestByStore;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsRequestBySuperChain;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsSummaryRequestByCardNetwork;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsSummaryRequestByMerchant;
use ReportingAuthorizationSummaryApiLib\Models\AuthTransactionsSummaryRequestByTransactionDate;
use ReportingAuthorizationSummaryApiLib\Models\SummaryDetailChain;
use ReportingAuthorizationSummaryApiLib\Models\SummaryDetailDivision;
use ReportingAuthorizationSummaryApiLib\Models\SummaryDetailMerchant;
use ReportingAuthorizationSummaryApiLib\Models\SummaryDetailStore;
use ReportingAuthorizationSummaryApiLib\Models\SummaryDetailSuperChain;
use ReportingAuthorizationSummaryApiLib\Models\SummaryResponses;

class AuthorizationsApi extends BaseApi
{
    /**
     * Resource to get the total summary of authorizations for a given hierarchy and date range with card
     * type and card network being optional parameters. Refer to the  schema object for the allowed
     * hierarchies and specifications.
     *
     * @param AuthTransactionsRequest $body
     * @param string|null $vCorrelationId Correlation Id
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummary(
        AuthTransactionsRequest $body,
        ?string $vCorrelationId = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)->required(),
                HeaderParam::init('v-correlation-id', $vCorrelationId)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn('0', ErrorType::init('Default errors', AuthorizationsSummary0ErrorException::class))
            ->type(SummaryResponses::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations grouped by card networks for a given hierarchy and
     * date range with card type and card network being optional parameters. Refer to the schema object for
     * the allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsSummaryRequestByCardNetwork|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummaryByCardNetwork(
        ?string $vCorrelationId = null,
        ?AuthTransactionsSummaryRequestByCardNetwork $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/cardnetwork')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummaryCardnetwork0ErrorException::class)
            )
            ->type(AuthorizationsSummaryCardnetworkResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations grouped by transaction dates for a given hierarchy and
     * date range with card type and card network being optional parameters. Refer to the schema object for
     * the allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsSummaryRequestByTransactionDate|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummarybyTransactionDate(
        ?string $vCorrelationId = null,
        ?AuthTransactionsSummaryRequestByTransactionDate $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/transactiondate')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummaryTransactiondate0ErrorException::class)
            )
            ->type(AuthorizationsSummaryTransactiondateResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations for given parameters grouped by merchants for a given
     * hierarchy and date range with card type and card network being optional parameters. Refer to the
     * schema object for the allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsSummaryRequestByMerchant|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummarybyMerchant(
        ?string $vCorrelationId = null,
        ?AuthTransactionsSummaryRequestByMerchant $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/merchant')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummaryMerchant0ErrorException::class)
            )
            ->type(SummaryDetailMerchant::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations grouped by divisions for a given hierarchy and date
     * range with card type and card network being optional parameters. Refer to the schema object for the
     * allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsRequestByDivision|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummarybyDivision(
        ?string $vCorrelationId = null,
        ?AuthTransactionsRequestByDivision $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/division')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummaryDivision0ErrorException::class)
            )
            ->type(SummaryDetailDivision::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations grouped by stores for a given hierarchy and date range
     * with card type and card network being optional parameters. Refer to the schema object for the
     * allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsRequestByStore|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummarybyStore(
        ?string $vCorrelationId = null,
        ?AuthTransactionsRequestByStore $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/store')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummaryStore0ErrorException::class)
            )
            ->type(SummaryDetailStore::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations grouped by chains for a given hierarchy and date range
     * with card type and card network being optional parameters. Refer to the schema object for the
     * allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsRequestByChain|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummarybyChain(
        ?string $vCorrelationId = null,
        ?AuthTransactionsRequestByChain $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/chain')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummaryChain0ErrorException::class)
            )
            ->type(SummaryDetailChain::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Resource to get the summary of authorizations grouped by superchains for a given hierarchy and date
     * range with card type and card network being optional parameters. Refer to the schema object for the
     * allowed hierarchies and specifications.
     *
     * @param string|null $vCorrelationId Correlation Id
     * @param AuthTransactionsRequestBySuperChain|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getAuthorizationsSummarybySuperChain(
        ?string $vCorrelationId = null,
        ?AuthTransactionsRequestBySuperChain $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/authorizations/summary/superchain')
            ->auth('api_key')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('v-correlation-id', $vCorrelationId),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '0',
                ErrorType::init('Default errors', AuthorizationsSummarySuperchain0ErrorException::class)
            )
            ->type(SummaryDetailSuperChain::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
